
Challenges/WrittenNumbers/.vs/WrittenNumbers/v16/.suo
Labs/VariableVsObject/.vs/VariableVsObject/v16/.suo
Challenges/WrittenNumbers/.vs/WrittenNumbers/v16/.suo
Labs/Classes/.vs/Classes/v16/.suo
Labs/Classes/.vs/Classes/v16/.suo
Homework/Homework4-Loops/.vs/Homework4-Loops/v16/.suo
Labs/WinProject1/.vs/WinProject1/v16/.suo
Labs/WinProject1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
Homework/Homework4-Loops/.vs/Homework4-Loops/v16/.suo
Challenges/ReverseAString/.vs/ReverseAString/v16/.suo
Scratch/.vs/Scratch/v16/.suo
Labs/Television/.vs/Television/v16/.suo
Labs/Classes/.vs/Classes/v16/.suo
Labs/Point/.vs/Point/v16/.suo
Labs/Point2/.vs/Point2/v16/.suo
Labs/BankAccountClass/.vs/BankAccountClass/v16/.suo
Labs/Structures/.vs/Structures/v16/.suo
Labs/ModifyAStructure/.vs/ModifyAStructure/v16/.suo
Labs/RefAndOut/.vs/RefAndOut/v16/.suo
Challenges/SumDigitsOfInteger/.vs/SumDigitsOfInteger/v16/.suo
Labs/Polynomials/.vs/Polynomials/v16/.suo
Homework/Homework5-Structures/.vs/Homework5-Structures/v16/.suo
Labs/OverloadingMethods/.vs/OverloadingMethods/v16/.suo
Labs/ClassTelevisionUsingProperties/.vs/ClassTelevisionUsingProperties/v16/.suo
Labs/Stacks/.vs/Stacks/v16/.suo
Challenges/Average10Floats/.vs/Average10Floats/v16/.suo
Challenges/Average10Floats/.vs/Average10Floats/v16/.suo
Challenges/ConvertStringToLowercase/.vs/ConvertStringToLowercase/v16/.suo
Challenges/AscendingDescendingNeither/.vs/AscendingDescendingNeither/v16/.suo
Labs/AbstractClasses/.vs/AbstractClasses/v16/.suo
Labs/Polymorphism/.vs/Polymorphism/v16/.suo
Homework/Homework6-FinalProject/.vs/Homework6-FinalProject/v16/.suo
Homework/Homework6-FinalProject/.vs/Homework6-FinalProject/v16/.suo
Homework/Homework6-FinalProject/.vs/Homework6-FinalProject/v16/.suo
